@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body, html{
    height: 100%;
}

h2{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 5px;
}
p, a,h3{
    font-family: 'Roboto', sans-serif;
}
.wrapper{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding:0 2%;
}
.details-menu{
    display: none;
}

/*=============HEADDER===========*/
header{
    
    background-image: url("../image/cafe.jpg");
    background-position:center;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
   
}

header > .sec-menu{
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0  auto;
    position: absolute;
    padding: 12px 2%;
    width: 100%;
    height: 100%;
    top:-45%;
    z-index: 100;
}
.sec-menu > div > a{
    font-size: 1.2rem;
    letter-spacing: 5px;
    color: white;
    font-family: 'Oswald', sans-serif;
}

.menu{
    display: flex;
}
.menu a{
    color: white;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    margin-right: 20px;
    padding: 12px;
}
.menu a:last-child{
    margin-right: 0;
}
.menu a:hover{
    background-color: rgb(134, 64, 17);
}

/*CONNTAINNER*/
header > .container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 500px;
}
.bg-wrap-left{
    width: 50%;
    background-color: rgba(78, 63, 52, 0.226);
    padding:2%;
}
.video-cafe-header{
    max-width: 400px;
    min-height: 240px;
    margin: 130px auto;
}
video{
    width: 100%;
    height: 250px;
}
.bg-wrap-right{
    width: 50%;
    height:auto;
    background-color: rgb(83, 48, 41);
    padding: 10px 0;
}

.info-right-top {
    position: relative;
    top: 100px;
    padding: 0 2%;
}
.info-chamada{
    width: 100%;
}
.img-wrap{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: rgb(134, 64, 17);
    margin: 0 auto;
}
.img-wrap .img{
    text-align: center;
    width: 128px;
    height: 100%;
    background-image: url("../image/latte.png");
    background-repeat: no-repeat;
    
    background-size: contain;
    
}
.info-texto-top{
    margin: 0  auto 0 auto;
    max-width: 380px;
}
.info-texto-top h2{
    color: rgba(245, 222, 179, 0.603);
    font-weight: 500px;
    padding: 15px  0;
    border-bottom: 1px solid rgba(245, 222, 179, 0.603);
}
.info-texto-top p{
    margin-top: 15px;
    line-height: 1.4em;
    color:rgba(245, 222, 179, 0.603);
}
/*=============CAFEZAAL-box1===========*/

.cafezal-info{
    padding: 60px 0;
}
.cafezal-info > .wrapper > .box1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(263px, auto));
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.box1 .wrap-img{
    max-width: 500px;
    height: 280px;
}
.box1 .wrap-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.box1 .wrap-img-texto{
    max-width: 470px;
    padding: 20px 4% 40px 4%;
}
.box1 .wrap-img-texto h2{
    color: tomato;
    padding: 10px 0;
    margin-top: -20px;
}

/*=============CAFEZAAL-box2===========*/

.cafezal-info > .wrapper > .box2{
    padding: 70px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(263px, auto));
    gap: 30px;
    justify-content:center;
    align-items: center;
}

.box2 .box2-wrap {
    max-width: 350px;
    display: grid;
    grid-template-columns: 100px auto;
    gap: 10px;
}
.box2 .box2-wrap .wrap-img{
    width:100px;
    height: 100px;
    border-radius: 4px;
    background-color: tomato;
}
.img{
    width: 100%;
    height: 100%;
    background-image: url("../image/top-view-coffee-accessories-table.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 4px;
}
.box2 .box2-wrap .box2-texto{
    max-width: 220px;
}
.box2-texto h2{
    color: tomato;
    font-size: 18px;
    letter-spacing: 0;
}
.box2-texto p{
    font-size: 13px;
}
/*CAFEZAAL-box3*/
.cafezal-info .box3{
    background-color: rgba(235, 235, 235, 0.308);
    border-left: 3px solid tomato;
    border-width: 3px;
    padding: 20px 0;
    margin-top: 15px;
}
.box3 .box3-texto{
    max-width: 780px;
    margin: 0 20px;
}
.box3 .box3-texto h2{
    font-weight: 500;
    letter-spacing: 0;
    margin-bottom: 10px;
}
/*==========PRODUTOS==========*/
.produtos{
    background-color: #FFB35A;
    width: 100%;
    min-height:500px ;
    padding:40px 2%;
}

.wrapper .box-texto{
    max-width: 700px;
}

.wrapper > h2{
    color: #CB7435;
    margin-top: 50px;
    padding: 20px 0;
    position: relative;
    text-align: center;
    border-bottom:3px solid #CB7435;
}


.wrap-produto{
    margin-top: 40px;
}
.wrap-produto img{
    border-radius: 10px;
}
/*==========sobre============*/
.sobre{
    padding: 40px 2%;
}
.sobre-banner{
    background-image: url("../image/cafe.jpg");
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    max-width: 1280px;
    height: auto;
    min-height: 200px;
    margin: 0 auto; 
}
.sobre-banner .banner{
    width: 100%;
    height:100%;
    min-height: 200px;
    background-color:rgba(24, 8, 3, 0.774);
    padding: 50px;
}
.banner{
    text-align: center;
}
.banner h2{
    color: rgb(240, 132, 9);
    padding: 10px 0;
}
.banner p{
    color: rgb(230, 225, 224);
    max-width: 700px;
    margin: 0 auto;
    
    line-height: 1.5em;
}

/*==========SOBRE-wrap============*/

.after{
    position:absolute;
    left: 48%;
    width: 0;
    height: 100%;
    top: 0;
    background-color: tomato;
}
.after span{
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #681717;
}
.after span:first-child{
    margin-top:60px;
}

.after span:nth-child(2){
    margin-top: 120px;
}
.after span:nth-child(3){
    margin-top: 140px;
}
.after span:last-child{
    margin-top: 120px;
}

.after::after{
    position: absolute;
    content: "";
    background-color:#68171780;
    width: 4px;
    top: 0;
    left:8px;
    height: 100%;
    margin: 0 auto;
}
.sobre-wrap{
    /*background-color:rgba(235, 235, 235, 0.795);*/
    height: 100%;
    max-width: 900px;
    margin: 40px  auto;
    position: relative;
    
}
.sobre-wrap .box1,
.sobre-wrap .box2{
    max-width: 330px;
    background-color: rgb(83, 48, 41);
    padding: 10px;
    margin-top: 20px;
    box-shadow: 0 0 4px rgb(85, 39, 29);
    border-radius: 5px;
}
.sobre-wrap .box3,
.sobre-wrap .box1{
    margin-left: auto;
}
.sobre-wrap .box h3{
    padding: 20px 0;
    color: rgb(240, 132, 9);
}
.sobre-wrap .box p{
   color: rgba(245, 222, 179, 0.603);
}


/*===========Formulário============*/
.formulario{
    padding: 50px 2%;
    width: 100%;
   /*background-image: url("../image/bg-form.jpg");
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;*/
    background-color: #e5e5e5;
}
.formulario-wrap{
    max-width: 420px;
    height: auto;
    padding: 20px 40px;
    margin: 0 auto;
    background-color: #745E3E;
}
.form-wrap{
    margin-bottom:10px ;
}
.form-wrap input{
    width: 100%;
    height: 47px;
    padding-left: 12px;
    background-color: #745E3E;
    border: 0;
    border-bottom: 4px solid #413326;
    color: white;
    outline: none;
}
.d-flex{
    display: flex;
    gap: 20px;
}

.formulario-wrap input::placeholder{
    color: white;
}
.form-wrap textarea{
    width: 100%;
    height: 170px;
    resize: none;
    padding:12px ;
    margin-top: 10px;
    outline: none;
}

.form-wrap:last-child {
    text-align: center;
    margin-top: 20px;
}
.form-wrap button{
    border: 0;
    background-color: #413326;
    color: white;
    width: 150px;
    height: 47px;
    margin: 0 auto;
    cursor: pointer;
    outline: none;
   
}
/*===========footer==========*/
footer{
    padding: 30px 0;
    background-color: #231D15;
}
footer p{
    color: white;
    text-align: center;
    font-size: 14px;
}


/*MEDIA QUERY*/


@media screen and (max-width:750px) {
    .after {   
        display: none;
    }
}
@media screen and (max-width:816px) {
    
    header > .container{
        display: block;
        justify-content: inherit;
    }

    .bg-wrap-left,
    .bg-wrap-right{
        width: 100%;
    }
    .info-right-top {   
        top: 0;
        padding: 30px 0;
    }
}
@media screen and (max-width:925px) {

    /*========heeaader========*/
    header > .sec-menu{
        display:none;
    }

    .details-menu{
    align-items: center;
        display: flex;
        justify-content: space-between;
        max-width: 1280px;
        margin: 0  auto;
        position: absolute;
        padding: 12px 2%;
        width: 100%;
        z-index: 99;
    }
    .details-menu > div a{
        font-size: 1.2rem;
        letter-spacing: 5px;
        color: white;
        font-family: 'Oswald', sans-serif;
    }
    details summary{
        list-style: none;
        width: 50px;
        height: 50px;
        border-radius: 7px;
        /*background-color: rgb(83, 48, 41);*/
        background-image: url("../image/menu.png");
        background-position: 0;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .menu{
        position:absolute;
        top: 62px;
        left: 0;
        width: 100%;
        display: block;
        background-color: rgb(41, 24, 20);
        text-align: center;
        z-index: 99;
    } 
    details .menu a{
        display: block;
        width: 100%;
        padding: 20px 0;
    }


}